    /*CSS Reset / Normalize*/
    /* Hemos disponibilizado el básico de reset de estilos. Si quieren, añadan más informaciones 
en las secciones señaladas */
    /*Já deixaremos o básico de reset de estilos. Caso queira adicionar mais informações
coloque nas sessões indicadas*/
    
     :root {
        /* Inserta la variable de los otros colores inspeccionando el exemplo de figma */
        /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
        --cor-de-fundo: #f5f5f5;
        --cor-de-link: #000;
        width: 100%;
    }
    
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #772CE8;
        color: white;
    }
    
    header {
        background-color: #772CE8;
        padding: 15px 0;
        text-align: center;
    }
    
    .alurageek {
        display: inline-flex;
        align-items: center;
        margin-top: 10px;
    }
    
    .alurageek h1 {
        font-weight: bold;
        font-size: 30px;
    }
    
    .container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 20px;
    }
    
    .container h1 {
        margin: 1%;
        font-weight: bold;
        font-size: 20px;
    }
    
    .logo {
        max-width: 100px;
    }
    
    nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: center;
    }
    
    nav li {
        display: inline-block;
        margin: 0 10px;
    }
    
    nav a {
        color: white;
        text-decoration: none;
        font-weight: bold;
    }
    
    main {
        padding: 20px 0;
    }
    
    h1,
    h2 {
        text-align: center;
    }
    
    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
    
    .products {
        display: flex;
        flex-wrap: wrap;
        padding: 2%;
        justify-content: space-between;
        margin-top: 20px;
        grid-column: 1;
        overflow-y: auto;
        max-height: 500px;
        scrollbar-width: thin;
        /* ajusta el ancho del scroll */
        scrollbar-color: gray transparent;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        /* agrega una sombra leve */
    }
    
    .product {
        width: calc(25% - 20px);
        height: 30%;
        margin-bottom: 20px;
        background-color: #6610F2;
        border-radius: 10px;
        padding: 15px;
        text-align: center;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
    
    .product img {
        width: 100%;
        height: auto;
        border-radius: 5%;
    }
    
    .details {
        margin-top: 10px;
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .price {
        display: flex;
        font-size: 12px;
        font-weight: bold;
        margin-bottom: 10px;
    }
    
    .delete-product {
        background-color: transparent;
        color: white;
        border: none;
        padding: 2px 2px;
        cursor: pointer;
        height: 20%;
        width: 20%;
    }
    
    .add-product {
        width: 100%;
        background-color: #ffffff;
        border-radius: 10px;
        padding: 20px;
        margin-top: 30px;
        grid-column: 2;
    }
    
    .add-product h2 {
        color: #6610F2;
        font-weight: bold;
        font-size: 20px;
    }
    
    #imagen {
        color: #6610F2;
    }
    
    .add-product form {
        display: flex;
        flex-direction: column;
    }
    
    .add-product label {
        margin-top: 40px;
        margin-bottom: 5px;
        color: #6610F2;
        font-weight: bold;
    }
    
    .add-product input,
    .add-product button {
        margin-bottom: 10px;
        padding: 8px;
        border-radius: 5px;
        border: 1px solid #ccc;
    }
    
    .add-product input {
        border-radius: 20px;
        border-color: #007bff;
        border-width: 2px;
    }
    
    .add-product input::placeholder {
        color: #007bff;
        opacity: 0.5;
    }
    
    .buttons {
        text-align: center;
    }
    
    .buttons button {
        display: inline-flex;
        margin-top: 25px;
        background-color: #007bff;
        color: white;
        border: none;
        cursor: pointer;
        margin-left: 50px;
    }
    
    .add-product button[type="reset"] {
        background-color: transparent;
        border: 1px solid #007bff;
        cursor: pointer;
        color: #007bff;
        transition: background-color 0.3s;
    }
    
    .add-product button[type="reset"]:hover {
        background-color: #007bff;
        color: white;
    }
    
    footer {
        background-color: #772CE8;
        padding: 20px 0;
        text-align: center;
        justify-content: center;
    }
    
    .container_footer {
        margin-top: 40px;
    }
    
    footer h3 {
        font-size: 20px;
    }
    
    @media (max-width: 768px) {}
    /*Mobile*/
    
    @media (max-width: 425px) {}